body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #B3CFF2; 
}

header {
    margin: 5px 0; 
    position: absolute;
}

#logo {
    position: relative;
    left: 150px;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.menu {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 25px;
    right: 10px;
}

nav li {
    display: inline;
    margin: 15px;
}

nav a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #035AA6;
}


.astrocv {
    position: absolute;
    
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}