body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #B3CFF2; 
}



.lkd {
    border-radius: 100%;
    position: absolute;
    right: 1533px;
    top: 214px;
    fill: #B3CFF2;  
}

.lkdimg {
    width: 35px;
    height: 35px;
    transition: 0.3s all;
}

.lkdimg:hover {
    width: 40px;
    height: 40px;
}

.wpp {
    border-radius: 100%;
    position: absolute;
    right: 1533px;
    top: 260px;
    fill: #B3CFF2;
}

.wppimg {
    width: 35px;
    height: 35px;
    transition: 0.3s all;
}

.wppimg:hover {
    width: 40px;
    height: 40px;
}

.git {
    border-radius: 100%;
    position: absolute;
    right: 1533px;
    top: 304px;
    fill: #B3CFF2;
}

.gitimg {
    width: 35px;
    height: 35px;
    transition: 0.3s all;
}

.gitimg:hover {
    width: 40px;
    height: 40px;
}

.areadigi {
margin-left: 230px;
}

.cdigi {
    font-style: normal;
    background-color: transparent;
    line-height: 150%;
    color:#035AA6;
    border-style: none;
    outline: 0;
    break-inside: auto;
    resize: none;
    position: absolute;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    width: 500px;
    height: 450px;
    left: 240px;
    top:105px;  
}

.cdigi::placeholder{
    color: #035AA6;
    font-style: normal;
}

.alert {
    position: absolute;
    left: 240px;
    
}

.alert {
    position: absolute;
    top: 603px;
}

.aviso {
    position: absolute;
    left: 260px;
    top: 603px;
}

.encripta {
    top: 630px;
    position: absolute;
    box-shadow: 2px 2px 12px 0.50px rgba(112, 111, 111, 0.856);
    display: inline;
    flex-direction: row;
    align-items: center;
    border: none;
    font-weight: bolder;
    font-family:'Ubuntu', sans-serif; 
    font-size: 19px;
    color: #CEDEF2;
    padding: 12px;
    width: 250px;
    height: 55px;
    background: #035AA6;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 0.5s all;
    cursor: pointer;
}

.encripta:hover{
    background: #0367A6;
    width: 268px;
    height: 60px;
}

.descripta {
    position: absolute;
    box-shadow: 2px 2px 12px 0.50px rgba(112, 111, 111, 0.582);
    display: flex;
    top: 615px;
    left: 500px;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    color: #035AA6;
    box-sizing: border-box;
    display: inline;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    width: 250px;
    height: 55px;
    background: #CEDEF2;
    border: 1px solid #0367A6;
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px;
    transition: 0.5s all;
    cursor: pointer;
}

.descripta:hover {
    background-color: #0367A6;
    border: #0367A6;
    color: #CEDEF2;
    width: 268px;
    height: 60px;
}

.result {
    font-style: normal;
    position: absolute;
    border-radius: 35px;
    left: 950px;
    top: 100px;
    width: 450px;
    height: 550px;
    background-color: #CEDEF2;
    border-style: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    outline: 0;
    resize: none;
    color: #035AA6;
    line-height: 150%;
    padding: 0px;
    flex-direction: column;
    text-align: center;
}

.astropc{
    position: absolute;
    top: 150px;
    max-width: 350px;
    max-height: 450px;
    left: 1000px;
}

.msgboneco1 {
    position: absolute;
    top: 500px;
    left: 994px;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #035AA6;
}

.msgboneco2 {
    position: absolute;
    top: 530px;
    left: 1000px;
    width: 350px;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.copiar {
    position: absolute;
    top: 600px;
    left: 1055px;
    box-shadow: 2px 2px 12px 0.50px rgba(112, 111, 111, 0.856);
    display: inline;
    flex-direction: row;
    align-items: center;
    border: none;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    color: #CEDEF2;
    gap: 8px;
    width: 250px;
    height: 55px;
    background: #035AA6;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 0.5s all;
    cursor: pointer;
}

.copiar:hover {
    background: #0367A6;
    width: 268px;
    height: 60px;
}

footer {
    position: absolute;
    top: 710px;
    left: 550px;
    font-weight: bold;
    color: #035AA6;
}

/* Configuração Página Sobre */

.menusobre {
    position: absolute;
    left: 1020px;
    right: 0%;
    top: 35px;
}


.explica {
    position: absolute;
    left: 117px;
    top: 278px;
}

.caixa {
    position: absolute;
    background-color: #CEDEF2;
    width: 730px;
    height: 600px;
    border-radius: 20px;
    left: 485px;
    top: 80px;
    box-shadow: 4px 7px 16px 2px rgba(128, 128, 128, 0.479);
}

.titulo1 {
     font-size: 48px;
     position: absolute;
     font-weight: bold;
     color: #035AA6;
     top:100px;
     left: 655px;
}

.text1 {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 160px;
    left: 500px;
    color: #035AA6;
    text-align: center;
    font-style: none;
}

.text2 {
    position: absolute;
    width: 700px;
    text-align: center;
    top: 440px;
    left: 500px;
    color: #035AA6;
}

.text3 {
    position: absolute;
    font-size: 25px;
    top: 530px;
    left: 605px;
    color: #035AA6;
    font-weight: bold;
}

.text4 {
    position: absolute;
    font-size: 32px;
    top: 610px;
    left: 730px;
    color: #035AA6;
    font-weight: bold;
}

b {
    font-weight: bold;
}

strong {
    font-weight: bold;
}