.container__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoimg {
    max-width: 150px;
    max-height: 95px;
}

.logo {
    margin-left: 4rem;
}

.menu {
    margin-right: 5rem;
}

.menu__ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu__li a{
    color: var(--color-cobalt-blue);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s all;
}

nav a:hover {
    font-size: 28px;
}

@media screen and (max-width:768px) {
   .logo, .menu, .menu__ul{
        margin:0;
        gap:.8em;
    }

    .logoimg {
        max-width: 6rem;
        max-height: 8rem;
    }
}

@media screen and (min-width:1024px) {

}